[Unit]
Description=flameshot: Screenshot tool
Documentation=https://github.com/flameshot-org/flameshot

[Service]
ExecStart=/usr/bin/flameshot
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
