[Unit]
Description=Lock screen on login using slock
PartOf=graphical-session.target

[Service]
Type=forking
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/local/bin/slock

[Install]
WantedBy=xsession.target
