[Unit]
Description=sxhkd: Simple X hotkey daemon
Documentation=https://github.com/baskerville/sxhkd

[Service]
Environment=DISPLAY=:0
Environment=PATH=/home/amasquelier/.local/bin/perl:/home/amasquelier/.local/lib/bash:/home/amasquelier/.local/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/amasquelier/.fzf/bin
ExecStart=/usr/bin/sxhkd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=mine.target
